.footer {
  background-image: url('../../images/rain_bk2.png');
  height: 160px;
  overflow-y: scroll;
  .footer__container {
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;

    .footer__top__text {
      font-family: $fontMerriweather;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.05em;

      color: #FFFFFF;

      margin: 59px 0 14px 14px;
      padding-right: 77px;
      .footer__top__text--yellow {
        color: $yellowColor;
      }

      .bold {
        font-weight: 700;
        color: inherit;
      }

    }

    .footer__card__text {
      background: rgba(243, 243, 242, 0.8);
      border-radius: 20px;
      padding: 29px 26px 31px 38px;
      margin: 0 10px 30px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      font-family: $fontSerif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;


      letter-spacing: 0.05em;

      color: #181818;
      .card__text--bold{
        font-weight: 700;
      }
    }

    .footer__img_right {
      position: absolute;
      right: -81px;
      top: -14px;
      transform: rotate(10.5deg);
    }

    .footer__img_left {
      position: absolute;
      left: -81px;
      bottom: 50px;
      transform: rotate(-61.5deg);
    }

    .brain__btn {
      margin-bottom: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: inherit;
      color: $whiteColor;
      border: 1px solid $whiteColor;
    }

    .date_developer {
      font-family: $fontSerif;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 23px;


      text-align: center;
      letter-spacing: 0.05em;

      color: rgba(255, 255, 255, .5);

      margin-bottom: 10px;
    }
  }
}




@media (min-width: 481px) and (max-width: 768px) {
  .footer{

		height: 329px;
	}
}


@media (min-width: 769px) and (max-width: 1024px) {
  .footer{

		height: 335px;
	}
}