.header {
  background-color: $blackColor;
  height: 46px;
  position: relative;
  z-index: 1;
  display: flex;

  .header_burger {

    width: 24px;
    background: inherit;

    span {
      margin: 0px 0 20px 15px;

      left: 0;
      position: absolute;
      width: 24px;
      height: rem(2);
      background: #696969;

      &::after {
        content: "";
        left: 0;
        top: 4px;
        position: absolute;
        width: 24px;
        height: rem(2);
        background: #696969;
      }

      &::before {
        content: "";
        left: 0;
        bottom: 4px;
        position: absolute;
        width: 24px;
        height: rem(2);
        background: #696969;
      }
    }

  }

  .header__content {
    display: flex;
    margin-left: 15px;
    width: 100%;

    .header__logo {
      margin: 0 10px;

      .logo {
        width: 48px;
        height: 48px;
      }
    }

    .iq_title--h1__header {
      display: flex;
      align-items: center;
      width: 24%;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $yellowColor;
    }

  }

  .burger__content {
    display: none;
    position: absolute;
    background-color: $blackColor;

    height: 100vh;
    width: 100%;
    z-index: 10;
    transition: transform 2s ease;

    .button__burger {
      position: absolute;
      right: 22px;
      top: 18px;
      background: inherit;
    }

    .menu__list {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 110px 0 0 25px;

      .list__item {

        margin-bottom: 30px;

        a {
          font-family: $fontSerif;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;


          text-transform: uppercase;

          color: $whiteColor;

        }

      }

      .list__item a:hover {
        color: $yellowColor;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    .header_burger {

      display: none;

    }

    .header__content {
      .header__nav {
       display: flex;
        align-items: center;
          width: 50%;
        margin-left: 10px;
          .nav__list {
            width: 100%;
            display: flex;
            
            li {
              margin-right: 10px;
              a {
                color: $redColor;
              }
              a:hover{
                color: $yellowColor;
              }
            }
          }
        
      }
    }

  }



}


@media (min-width: 769px) and (max-width: 1024px) {
  .header_burger {

    display: none;

  }
  .header__content {
    .header__nav {
     display: flex;
      align-items: center;
        width: 50%;
      margin-left: 10px;
        .nav__list {
          width: 100%;
          display: flex;
          
          li {
            margin-right: 10px;
            a {
              color: $redColor;
            }
            a:hover{
              color: $yellowColor;
            }
          }
        }
      
    }
  }
}


@media (min-width: 1025px) and (max-width: 1200px) {
  .header_burger {

    display: none;

  }
  .header__content {
    .header__nav {
     display: flex;
      align-items: center;
        width: 50%;
      margin-left: 10px;
        .nav__list {
          width: 100%;
          display: flex;
          
          li {
            margin-right: 10px;
            a {
              color: $redColor;
            }
            a:hover{
              color: $yellowColor;
            }
          }
        }
      
    }
  }


}


@media (min-width: 1201px) {

  .header_burger {

    display: none;

  }

  .header__content {
    .header__nav {
     display: flex;
      align-items: center;
        width: 50%;
      margin-left: 50px;
        .nav__list {
          width: 100%;
          display: flex;
          
          li {
            margin-right: 60px;
            a {
              color: $redColor;
            }
            a:hover{
              color: $yellowColor;
            }
          }
        }
      
    }
  }
}